<h1>Login</h1>
<form [formGroup]="loginForm">
  
  <div class="p-2">
    <input type="text" class="form-control" placeholder="Username" formControlName="username"
    [ngClass]="{ 'is-valid': 
      loginForm.get('username').valid &&
      (loginForm.get('username').touched ||
      loginForm.submitted),

      'is-invalid':
      loginForm.get('username').invalid &&
      (loginForm.get('username').touched ||
      loginForm.submitted)
    }">

    <span class="text-danger" *ngIf="
      loginForm.get('username').invalid && 
      loginForm.get('username').errors.required &&
      (loginForm.get('username').touched ||
      loginForm.submitted)">
      Username can't be blank.
    </span>

    <span class="text-danger" *ngIf="
      loginForm.get('username').invalid && 
      loginForm.get('username').errors.minlength &&
      (loginForm.get('username').touched ||
      loginForm.submitted)">
      Username should contain at least 2 characters.
    </span>

</div>

<div class="p-2">
  <input type="password" class="form-control" placeholder="Password" formControlName="password"
  [ngClass]="{ 'is-valid': 
    loginForm.get('password').valid &&
    (loginForm.get('password').touched ||
    loginForm.submitted),

    'is-invalid':
    loginForm.get('password').invalid &&
    (loginForm.get('password').touched ||
    loginForm.submitted)
  }">

  <span class="text-danger" *ngIf="
    loginForm.get('password').invalid && 
    loginForm.get('password').errors.required &&
    (loginForm.get('password').touched ||
    loginForm.submitted)">
    Password can't be blank.
  </span>

  <span class="text-danger" *ngIf="
    loginForm.get('password').invalid && 
    loginForm.get('password').errors.minlength &&
    (loginForm.get('password').touched ||
    loginForm.submitted)">
    Password should contain minimum 6 characters.
  </span>
</div>

  <button (click)="onLoginClick()" class="btn btn-success">Login</button>
</form>

{{loginForm.value | json}}
