<!DOCTYPE html>
<html>
  <head>
    <title>Courses - Naresh IT</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <a href="/home">Home</a>
      <a href="/courses">Courses</a>
      <a href="/contact">Contact</a>
    </div>
    
    <h1>Courses Offerred</h1>
    <ul>
      {{#each courses}}
        <li>{{coursename}}</li>
      {{/each}}
    </ul>

  </body>
</html>